.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: auto;
    max-width: 500px;
    border-radius: 5%;
    padding: 16px;
    min-height: 300px;
}

body,
html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
